body {
	background: radial-gradient(ellipse at top, #e66465, transparent),
            radial-gradient(ellipse at bottom, #4d9f0c, transparent);
      }
      

input {
	color: green;
	width: 150px;
	height: 100px;
	background: linear-gradient(180deg, blue, transparent 50%);
	border: 2px solid blue;
	box-shadow: 2px 5px 5px gray;
		border-radius: 10%;
		font-size: 150%

}
input:hover {
text-shadow: 0 0 7px #fff;
	border: 2px solid red;
	background: linear-gradient(180deg, transparent 50%, blue);
	transition: text-shadow 1s;
	transition: border 0.5s;
}
img {
	

}